<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><span>HPT Ariane</span><span>Collaboration Platform</span></ion-title>
    <ion-buttons slot="end">
      <!--For android align-->
      <ion-button style="opacity: 0;height: 0;">
        Home
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>