<ion-header class="modalHeader">
    {{'m_your_team.title'|translate}}
</ion-header>
<ion-content slots="fixed">
    <div class="text" [appModalResize]>
        <p>
            {{'m_your_team.p1'|translate}} app.hptariane.com/team
        </p>
    </div>
    <ion-button class="okButton" expand="block" (click)="dismiss()">{{'m_token_invalid.button'|translate}}</ion-button>

</ion-content>