<ion-header class="modalHeader">
    {{'m_invalid_mlt.header'|translate}}
</ion-header>
<ion-content slots="fixed" [appModalResize]>
    <div class="text">
        <p> {{'m_invalid_mlt.p1'|translate}}</p><br>
        <p>{{'m_invalid_mlt.p2'|translate}} <a
                href="mailto:customercare@hptariane.com">customercare@hptariane.com</a> {{'m_invalid_mlt.p3'|translate}}
        </p>
        <br>
        <p>{{'m_invalid_mlt.p4'|translate}}</p>

    </div>
    <ion-button class="okButton" expand="block" (click)="dismiss()">{{'m_invalid_mlt.button'|translate}}</ion-button>

</ion-content>