/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "app/auth/auth.component";
@import "app/shared/components/modals.common";

.paddingbottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.shareModal {
  .modal-wrapper {
    width: 95% !important;
    height: 299px;
    position: absolute;
    ion-header {
      padding-top: 20px !important;
      ion-toolbar:first-child {
        padding-top: unset !important;
      }
    }
  }
}

.selectModal {
  .modal-wrapper {
    height: 70%;
    position: absolute;
    bottom: 0;
    ion-header {
      padding-top: unset !important;
      ion-toolbar:first-child {
        padding-top: unset !important;
      }
    }
  }
}

.pageModal {
  .modal-wrapper {
    height: 100%;
    position: absolute;
    bottom: 0;
    ion-header {
      padding-top: unset !important;
      ion-toolbar:first-child {
        padding-top: unset !important;
      }
    }
  }
}

@font-face {
  font-family: "CenturyGothic";
  src: url('assets/fonts/CenturyGothic.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: "CenturyGothic-Bold";
  src: url('assets/fonts/CenturyGothic-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: "CenturyGothic-Italic";
  src: url('assets/fonts/CenturyGothic-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: "CenturyGothic-BoldItalic";
  src: url('assets/fonts/CenturyGothic-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
}

* {
  font-family: 'CenturyGothic';
}

input {
  font-family: 'CenturyGothic' !important;
}

.market_share {
  background-color: #a40044;
  td {
    border: 2px solid #a40044;
  }
}

.sales {
  background-color: #8800aa;
  td {
    border: 2px solid #8800aa;
  }
}

.service_level {
  background-color: #6f8a90;
  td {
    border: 2px solid #6f8a90;
  }
}

.stock_days {
  background-color: #e45a35;
  td {
    border: 2px solid #e45a35;
  }
}

.number_of_basket {
  background-color: #00a5ce;
  td {
    border: 2px solid #00a5ce;
  }
}

.promotion_intensity {
  background-color: #ee8a06;
  td {
    border: 2px solid #ee8a06;
  }
}

/**
HEADER
 */
ion-header {
  text-align: center;
  padding-top: env(safe-area-inset-top) !important;
  padding-bottom: 17px;
  border-bottom: 2px solid #1a82f2;
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 17px;
    img {
      padding-left: 4px;
      padding-right: 6px;
    }
  }
  //height: 82px;
  ion-toolbar {
    padding-top: unset !important;
    ion-buttons {
      ion-back-button {
        --color: #1a82f2 !important;
      }
    }
  }
  ion-header {
    ion-toolbar:first-child {
      padding-top: unset !important;
    }
  }
  ion-toolbar.ios {
    --border-width: 0 !important;
  }
  ion-toolbar.md {
    height: 50px;
  }
  ion-title {
    span {
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
      display: block;
    }
    span:first-child {
      font-size: 26px;
      font-family: 'CenturyGothic';

    }
    span:last-child {
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      font-family: 'CenturyGothic-Bold';

    }
  }

}

ion-footer {
  padding-bottom: env(safe-area-inset-bottom) !important;
}